<footer id= "body_footer">
	<div>
                <span style="color:white; font-weight:bolder">
                     Connect With Me!!
               </span>
		    	<ul class="horizontal_list text_center social-icon" style='margin-left:0'>
				<li>
					<a href="https://www.linkedin.com/in/lanchiagrawal111" target='_blank'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://m.facebook.com/100015737940355/" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i> </a>
				</li>
				<li>
					<a href="https://www.instagram.com/agrawallanchi/" target='_blank'><i class="fa fa-instagram" aria-hidden="true"></i> </a>
				</li>
				<li>
					<a href="https://github.com/lanchiagrawal111" target='_blank'><i class="fa fa-github" aria-hidden="true"></i> </a>
				</li>
				<li>
					<a href="https://www.google.com/" target='_blank'><i class="fa fa-google" aria-hidden="true"></i> </a>
				</li>
				
			</ul>
			

		</div>
</footer>