
	<section id="about" style='background: linear-gradient(to right, #2857, #903976);height:80vh'>
			<div id="my-image">
			<%= image_tag ("lanchi.png") %>
			</div>

			<div id="my-content">
			   <p>
				 This is Lanchi Agrawal,and I belonged to city Aligarh.Currently I am pursuing Job from company Planetspark.I have completed my B.tech from Aligarh college of Engineering and technology and 12<sup>th</sup> and 10<sup>th</sup> from Radiant Star English School with 86.6% and 9cgpa respectively.
				 In my current company, I am working on technology Ruby on rails and here my designation is Software Developer. I worked on company Miraah as a Junior Softaware Engineer and  work on technology
				 NodeJS and ReactJS.
               </p>
            </div>   
    </section>
