
<section id="contact" style='height:80vh'>

			<h1 class="section-heading mb75px white-color">
				<span>
					<i class="fa fa-address-book" aria-hidden="true"></i>
				</span>
				<span>Contact</span>
		    </h1>
		<div id="detail">   
	       <div id="personal-detail">
		      <p>Your Name </p> 
		      <p>Your Email</p>
		      <p>Your Message</p>
			  <button>SEND MESSAGE</button>
	       </div>
	       <div id="company-detail">
	        	<h3>Get in touch with me</h3>
	        	<h3>My Address</h3>
	        	<ul>
	        		<li>
	        			<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
	        			<span>Master colony Iglas,Aligarh,U.P,India</span>
	        		</li>
	        		<li>
	        			<span><i class="fa fa-mobile" aria-hidden="true"></i></span>
	        			<span>8279353979</span>
	        		</li>
	        		<li>
	        			<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
	        			<span>lanchiagrawal111@gmail.com</span>
	        		</li>

	        	</ul>

	        </div>
	   </div>
    </section>
    