
    <div style='background: linear-gradient(to right, #2857, #903976); height: 80vh'; >
		<div class="text_center">
			<%= image_tag ("name.png") %>
			
		</div>
       <div style='width:100%; height:50vh'>
	 	<%= image_tag ("welcome3.gif") %>
        </div> 
	</div>
