
	<section id="skills" style="height:80vh">
			<h1 class="section-heading mb75px">
				<span>
					<i class="fa fa-book" aria-hidden="true"></i>
				</span>
				<span>Skills</span>
		    </h1>
		    <div class="skills-display">
		    	<div class="skills-progress">
		    		<div class="seventy-percent mb-light-blue">
		    			<div class="skill-name">
		    			  <span>Core java</span>
		    			</div>  
		    		</div>
		    		
		    	</div>
		    	<div class="skills-progress">
					<div class="forty-percent mb-light-purple">
						<div class="skill-name">
							<span>Nodejs</span>
						</div>
					</div>
		    		
		    	</div>
		    	<div class="skills-progress">
					<div class="seventy-percent mb-light-coral">
						<div class="skill-name">
							<span>CSS</span>
						</div>
					</div>
		    		
				</div>
				
				<div class="skills-progress">
					<div class="fifty-percent mb-light-seagreen">
						<div class="skill-name">
							<span>JavaScript</span>
						</div>
					</div>
				
				</div>

				<div class="skills-progress">
					<div class="seventy-percent mb-light-orange">
						<div class="skill-name">
							<span>HTML</span>
						</div>
					</div>
				
				</div>

				<div class="skills-progress">
					<div class="seventy-percent mb-dark-red">
						<div class="skill-name">
							<span>Data Structure</span>
						</div>
					</div>
				
				</div>

				<div class="skills-progress">
					<div class="seventy-percent mb-light-crimson">
						<div class="skill-name">
							<span>C</span>
						</div>
					</div>
				
				</div>
                <div class="skills-progress">
					<div class="forty-percent mb-light-purple">
						<div class="skill-name">
							<span>Ruby</span>
						</div>
					</div>
				
				</div>
                <div class="skills-progress">
					<div class="seventy-percent mb-light-crimson">
						<div class="skill-name">
							<span>ReactJs</span>
						</div>
					</div>
				
				</div>

				<div class="skills-progress">
					<div class="fifty-percent mb-dark-blue">
						<div class="skill-name">
							<span>MongoDB</span>
						</div>
					</div>
				
				</div>
				


		    	

		    </div>
			
		</section>